:root {
    --blue: #1E90FF;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background:-webkit-linear-gradient(top right,#FFB6C1, #ADD8E6);
    background:-moz-linear-gradient(top right,#FFB6C1, #ADD8E6);
    background:-sm-linear-gradient(top right,#FFB6C1, #ADD8E6);
    background:-sm-linear-gradient(top right,#FFB6C1, #ADD8E6);
    
    
}
/* End Global Rules */

/*Start Forms*/

.row{
    display: flex;
    border: 1px dotted var(--blue);
    gap: 7.4rem;
}
.forms{
    background: #fff;
    padding: 20px;
    margin: 100px auto;
    color: #b7afaf;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, .7);
}
.forms form{
    width: 100%;
}
.forms .form-login,
.forms .form-signup{
    padding: 30px;
    
    color: #b7afaf;
}
.forms .form-login:after{
    content: "";
    border: 1px solid #f7f7f7;
    height: 80%;
    position: absolute;
    top: 114px;
    right: 20px;
}
.forms .title-form,
.forms input[type="submit"]{
    font-family: 'Montserrat', sans-serif;
}
.forms .title-form{
     color: var(--blue);
    font-size: 4rem;
}
.forms .input-container{
    position: relative;
    margin-bottom: 30px
}

.forms .input-container input{
  width: 12rem;
  display: block;
  padding: 10px;
 border: 1px solid #CCC;
}
.forms .input-container input:focus{
    outline: none;
    box-shadow: none;
    border-bottom: solid 2px var(--blue) !important;
  border-left: solid 4px var(--blue) !important;
}
.forms .input-container label{
    position: absolute;
    top: 10px;
    left: 10px;
    color: var(--blue);
    opacity: 0;
}
.forms .input-container input:focus ~ label{
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
     opacity: 1;
     top: -22px;
}
.forms input[type="submit"]{
    background-color: var(--blue);
    color: #fff;
    padding: 12px 15px;
    margin-bottom: 30px;
    border-radius: 5px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}
.forms input[type="submit"]:hover{
    background-color: var(--blue);
}
.forms .footer-form label{
    font-weight: normal;
    cursor: pointer;
}
.pull-right{
    color: #b7afaf
}
.pull-right:hover{
    color: var(--blue);
}


.forms input[type="checkbox"]{
    display: none;
}
.forms input[type="checkbox"] + label:before{
    background-color: #fff;
    border: 2px solid var(--blue);
    content: "";
    display: inline-block;
   width: 16px;
    height: 16px;
    line-height: 11px;
    margin: -5px 10px 0 0;
    vertical-align: middle;
}
.forms input[type="checkbox"]:checked + label:before{
    background-color: var(); 
}
/*Start Media Max Width 991px*/
@media (max-width: 991px){
  .forms .form-login:after{
    display:none;
  }
  .forms .form-login,
  .forms .form-signup{
    text-align:center;
  }
  .forms .form-login{
    border-bottom: 2px solid #f7f7f7;
    padding-bottom: 50px;
  }
}

.img-container {
    border: 1px dotted var(--blue);
    width: 25rem;
    margin: 12px;
    padding: 8px;
}

.img-container img {
    width: 100%;
    height: 100%;
    
}