@import url('http://fonts.googleapis.com/scss2?family=Nunito:ital,wght@0,400;0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*Root and general config*/
:root {
    --black: white;
    --light-red:  #F5FFFA;
    --blue:#1E90FF;
}
* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
    outline: none;
}
/* HTML style*/
html {
    font-size: 62%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}
/*Body style*/
body {
    background: #FFFACD;
}
/* Here starts the header styles*/
header {
    display: flex;
    justify-content: space-between;
    background-image: url(/images/asd.png);
    box-shadow: 210px 210px 120px white;
}

 header .logo {
    font-weight: bolder;
    font-size: 2.5rem;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 6px;

    color:var(--blue);
}

 header .logo span {
    color: var(--black);
}
 /* Dropdown Button */
  
  nav.primary-navigation {
    background: transparent;
    margin-top: 10px;
   font-weight: 600;
    text-align: center;
    font-size: 16px;
  }
  nav.primary-navigation ul li {
    list-style: none;
    margin: 0 auto; 
    display: inline-block;
    padding: 0 30px;
    position: relative;
    text-decoration: none;
    text-align: center;
    
  }
  nav.primary-navigation li a {
    color: var(--black);
  }
  nav.primary-navigation li a:hover {
    color: var(--blue);
  }
  nav.primary-navigation li:hover {
    cursor: pointer;
  }
  nav.primary-navigation ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding-left: 0;
    left: 0;
    display: none;
    background: transparent;
   
  }
  nav.primary-navigation ul li:hover > ul,
  nav.primary-navigation ul li ul:hover {
    visibility: visible;
    opacity: 1;
    border-left: 2px solid var(--blue);
    display: block;
    min-width: 250px;
    text-align: left;
    padding-top: 20px;
    box-shadow: 0px 3px 6px -1px #ccc;
  }
  nav.primary-navigation ul li ul li {
    clear: both;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    border-style: none;
  }
  nav.primary-navigation ul li ul li a:hover {
    padding-left: 10px;
    border-left: 2px solid var(--blue);
    box-shadow: 0px 3px 24px -1px #ccc;
    transition: all 0.3s ease;
    
  }
  
  a {
    text-decoration: none;
  }
  a:hover {
    color: var(--blue);
  }
  
  ul li ul li a {
    transition: all 0.5s ease;
  }

 header .icons #menu-bars, header .icons a {
        height: 4.5rem;
        line-height: 4.5rem;
        width: 5rem;
        font-size: 2rem;
        background-color: var(--blue);
        margin-right: .5rem;
        border-radius: .5rem;
        color: var(--black);
        background: transparent;
        text-align: center;

}

 header .icons #menu-bars:hover, header .icons a:hover {
    background-color: var(--blue);
    color: var(--black);
}

header .icons #menu-bars {
    display: none;
}

@media (max-width:991px) {
    html {
        font-size: 55%;
    }

    header {
        padding: 1.5rem 1rem;

    }
}

@media(max-width: 768px) {

    header .icons #menu-bars {
        display: inline-block;
    }

    header .navbar {
        position: absolute;
        left: 0; right: 0;
        top: 100%;
        border-top: .1rem solid #333;
        border-bottom: .1rem solid #333;
        transition: .2s linear;
        
    }
    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        display: none;
    }

    header .navbar a {
        display: block;
        padding: 1.5rem;
        margin: 1.5rem;
        background: #fff;
        border: .1rem solid #333;
        box-shadow: 0 .5rem 3rem rgba(0, 0, 0, .1);
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }

    header {
        padding: 1.5rem 1rem;

    }

    .footer .footer-container .wrapper {
        display: nono;
    }

    .services {
        display: none;
    }

    
}


.home{
    min-height: 100vh;
    background:url(/images/background-image.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
}

 .home-container {
    width: 40%;
    height: 24vh;
    margin-left: 5em;
}

.home-container .button-container {
    display: flex;
    justify-content: flex-start;
    gap: 6em
}

#h1-div {
    font-size: 2.8rem;
    color: var(--light-red);
}

#Buy, #Sell, #Rent, #Mortgage {
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 10px;
    color: var(--light-red);
    background: none;
    cursor: pointer;
}
#Buy:focus, #Sell:focus, #Rent:focus, #Mortgage:focus {
    text-decoration: underline 3px;
}

.input-div{
    display: flex;
}

#default-input {
    width: 80%;
    margin-top: 1em;
    height: 5vh;
    padding: 8px;
}
#default-input:focus {
    border: 1.5px solid var(--blue);
}

#submit-btn {
    width: 6em;
    height: 5vh;
    color: var(--black);
    cursor: pointer;
    background-color: var(--blue);
}

#submit-btn:hover {
    background-color: #312b50;
}

#sell-btn {
    width: 6em;
    margin-left: 8px;
    height: 5vh;
    cursor: pointer;
    color: var(--black);
    background-color: var(--blue);
}
#sell-btn:hover {
    background-color: #312b50;
}

.home-info {
    padding: 20px;
}

.img-text {
    display: flex;
    padding: 10rem;
}
.img-text2 {
    display: flex;
    flex-direction: row-reverse;
    padding: 10rem;
}

.info-container {
    margin-left: 9rem;
    margin-top: 7rem;
}


.info-container2 {
    margin-right: 9rem;
    margin-top: 7rem;
}

.info-h2 {
    font-size: 4rem;
}

.info-p {
    font-size: 1.8rem;
}





.container {
    max-width: 1200px;
    margin-left: 14%;
    min-height: 50vh;
  }
  
  .footer {
    margin-bottom: 4rem;
  }
  
  .box {
    display: inline-block;
    width: 160px;
    float: left;
    position: relative;
    height: 160px;
    border: 1px solid #000;
    z-index: 0;
    transition: all 0.3s ease;
    opacity: 1;
    margin-right: -1px;
  }
  .box:hover {
    z-index: 10;
  }
  .box:before, .box:after {
    content: "";
    display: block;
    position: absolute;
    background: #d3c2b6;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    opacity: 1;
  }
  .box:before {
    width: calc(100% + 2px);
    height: 100%;
    z-index: 1;
    transition: height 1s ease, opacity 0.8s ease;
  }
  .box:after {
    height: calc(100% + 2px);
    width: 100%;
    z-index: 1;
    transition: width 1s ease, opacity 0.8s ease;
  }
  .box:hover:before, .box:focus:before {
    transition: height 0.2s ease, opacity 0.3s ease;
    height: 85%;
    opacity: 0.7;
  }
  .box:hover:after, .box:focus:after {
    transition: width 0.2s ease, opacity 0.3s ease;
    width: 85%;
    opacity: 0.8;
  }
  .box__image {
    fill: #000;
    width: 60%;
    will-change: width;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.5s ease;
    z-index: 2;
  }

  .contact h1 {
    font-size: 4rem;
    margin-left: 4rem;
  }

  .contact p {
    font-size: 1.8rem;
    margin-left: 5.5rem;
  }

.contact .row{
    background: #fffacd;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
    flex-wrap: wrap-reverse;
}

.contact .row form{
    flex:1 1 50rem;
    display: flex;
    flex-direction: column;
    padding:.5rem 1rem;
}

.contact .row .map{
    margin-top: 3rem;
    width:100%;
    border: 1px solid var(--blue);
    border-radius: .5rem;
    height: 92vh;
    padding: 1rem;
}

.contact .row form .inputBox{
    display: flex;
    
    flex-wrap: wrap;
    justify-content: space-between
}

.contact .row form textarea,
.contact .row form .inputBox input{
    margin-top: 1rem;
    padding:1rem;
    font-size: 1.7rem;
    color:#333;
    background: var(--light-red);
    border-radius: .5rem;
    border: 1px solid var(--blue);
    text-transform: none;
    width:49%;
}

.contact .row form textarea{
    width:100%;
    height:20rem;
    resize: none;
}

.contact .row form textarea:focus,
.contact .row form .inputBox input:focus{
    background-color: #BBAB9E;
}

.footer .footer-container{
    background:#fff;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

#contact-btn {
    font-size: 2rem;
    margin-top: 1.2em;
    margin-left: 1em;
    width: 30rem;
    cursor: pointer;
    background-color: var(--blue);
    color: var(--light-red);
    font-weight: 400;
    text-align: center;
}
#contact-btn:hover {
    background-color: #312b50;
}







 
/* media queries  */
@media (max-width:991px){

    html{
        font-size:55%;
    }

    header{
        padding:1.5rem 1rem;
    }

    section{
        padding:1.5rem;
    }

}

@media (max-width:768px){

    header .icons #menu-bars{
        display: inline-block;
    }

    header .navbar{
        position: absolute;
        left:0; right:0; top:100%;
        background:#f7f7f7;
        border-top: .1rem solid #333;
        border-bottom: .1rem solid #333;
        transition: .2s linear;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        display: block;
        padding:1.5rem;
        margin:1.5rem;
        background:#fff;
        border:.1rem solid #333;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
        border-radius: .5rem;
    }

}

@media (max-width:450px){

    html{
        font-size:50%;
    }

    .contact .row form .inputBox input{
        width: 100%;
    }

}